body {
  font-family: Brygada 1918;
}
.display-1 {
  font-family: undefined;
  font-size: 4.375rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: undefined;
  font-size: 3.125rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-4 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: undefined;
  font-size: 2.0625rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.578125rem;
}
.display-7 {
  font-family: undefined;
  font-size: 1.5625rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.953125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.65rem;
    font-size: calc( 1.371875rem + (2.0625 - 1.371875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.371875rem + (2.0625 - 1.371875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.25rem;
    font-size: calc( 1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e74c3c !important;
}
.bg-success {
  background-color: #f9f9f9 !important;
}
.bg-info {
  background-color: #96c85b !important;
}
.bg-warning {
  background-color: #e3ba52 !important;
}
.bg-danger {
  background-color: #e5673b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b62516 !important;
  border-color: #b62516 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b62516 !important;
  border-color: #b62516 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #080808 !important;
  border-color: #080808 !important;
}
.btn-info,
.btn-info:active {
  background-color: #96c85b !important;
  border-color: #96c85b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #6a9933 !important;
  border-color: #6a9933 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #6a9933 !important;
  border-color: #6a9933 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #4e4e4e !important;
  background-color: #cecece !important;
  border-color: #cecece !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #7a7a7a !important;
  background-color: #cecece !important;
  border-color: #cecece !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e3ba52 !important;
  border-color: #e3ba52 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #bf921f !important;
  border-color: #bf921f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #bf921f !important;
  border-color: #bf921f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e5673b !important;
  border-color: #e5673b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b23f18 !important;
  border-color: #b23f18 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b23f18 !important;
  border-color: #b23f18 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e74c3c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b62516 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #333333;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #080808 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #96c85b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #6a9933 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #96c85b !important;
  border-color: #96c85b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f9f9f9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #cecece !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #7a7a7a !important;
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e3ba52;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #bf921f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e3ba52 !important;
  border-color: #e3ba52 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e5673b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b23f18 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e5673b !important;
  border-color: #e5673b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e74c3c !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #f9f9f9 !important;
}
.text-info {
  color: #96c85b !important;
}
.text-warning {
  color: #e3ba52 !important;
}
.text-danger {
  color: #e5673b !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a82315 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #c6c6c6 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #628e2f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #b2881d !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a43b16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e74c3c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #96c85b;
}
.alert-warning {
  background-color: #e3ba52;
}
.alert-danger {
  background-color: #e5673b;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e74c3c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d3e8ba;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3ef;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e74c3c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #e74c3c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e74c3c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e74c3c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e74c3c;
  border-bottom-color: #e74c3c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e74c3c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #333333 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e74c3c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sK7jYNwUTq .navbar-dropdown {
  background-color: #f9f9f9 !important;
  padding: 0;
}
.cid-sK7jYNwUTq .navbar-dropdown {
  position: relative !important;
}
.cid-sK7jYNwUTq nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sK7jYNwUTq .offcanvas {
    padding: 120px 60px 35px;
    width: 480px;
    background-color: #ffffff;
  }
  .cid-sK7jYNwUTq .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-sK7jYNwUTq .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-sK7jYNwUTq .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-sK7jYNwUTq .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-sK7jYNwUTq .offcanvas-body .mbr-text,
  .cid-sK7jYNwUTq .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-sK7jYNwUTq .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
    color: #f9f9f9;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 1px;
    border-right: 5px;
    background-color: #373c42;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-sK7jYNwUTq .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-sK7jYNwUTq ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-sK7jYNwUTq .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-sK7jYNwUTq .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-sK7jYNwUTq .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-sK7jYNwUTq li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: .3em !important;
  }
  .cid-sK7jYNwUTq li.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.32s cubic-bezier(0.31, 0.29, 0.05, 0.96);
  }
  .cid-sK7jYNwUTq li.nav-item:hover:after {
    transform-origin: left;
    transform: scaleX(0.999);
  }
  .cid-sK7jYNwUTq .lg_brand {
    margin: 0 1rem;
  }
}
.cid-sK7jYNwUTq .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-sK7jYNwUTq .nav-item {
    margin: 4px 19px;
  }
}
@media (max-width: 991px) {
  .cid-sK7jYNwUTq .nav-item {
    margin: 0 !important;
  }
}
.cid-sK7jYNwUTq .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-sK7jYNwUTq .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: 72px !important;
    left: -40px !important;
  }
  .cid-sK7jYNwUTq .dropdown-menu.dropdown-submenu {
    left: 215px!important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-sK7jYNwUTq .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-sK7jYNwUTq .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-sK7jYNwUTq .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-sK7jYNwUTq .offcanvas_box {
    display: none;
  }
}
.cid-sK7jYNwUTq .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-sK7jYNwUTq .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-sK7jYNwUTq .dropdown .dropdown-item:hover {
  color: #e74c3c !important;
}
.cid-sK7jYNwUTq .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sK7jYNwUTq .nav-link {
  position: relative;
}
.cid-sK7jYNwUTq .container {
  display: flex;
  margin: auto;
}
.cid-sK7jYNwUTq .iconfont-wrapper {
  color: #000000 !important;
  font-size: 17px;
  margin-right: 25px;
  width: 56px;
  height: 56px;
  background-color: #fef2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-sK7jYNwUTq .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK7jYNwUTq .iconfont-wrapper:hover {
  background-color: #fcdada;
}
.cid-sK7jYNwUTq .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 1200px) {
  .cid-sK7jYNwUTq .navbar-nav {
    margin: 0 2rem;
  }
}
.cid-sK7jYNwUTq .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}
.cid-sK7jYNwUTq .dropdown-menu,
.cid-sK7jYNwUTq .navbar.opened {
  background: #f9f9f9 !important;
}
.cid-sK7jYNwUTq .nav-item:focus,
.cid-sK7jYNwUTq .nav-link:focus {
  outline: none;
}
.cid-sK7jYNwUTq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sK7jYNwUTq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sK7jYNwUTq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sK7jYNwUTq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sK7jYNwUTq .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sK7jYNwUTq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sK7jYNwUTq .navbar {
  height: 120px;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
.cid-sK7jYNwUTq .navbar.opened {
  transition: all 0.3s;
}
.cid-sK7jYNwUTq .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-sK7jYNwUTq .navbar .navbar-logo img {
  width: auto;
}
.cid-sK7jYNwUTq .navbar .navbar-collapse {
  justify-content: space-between;
  justify-content: space-evenly;
  z-index: 1;
  background: #f9f9f9 !important;
}
.cid-sK7jYNwUTq .navbar.collapsed {
  justify-content: center;
}
.cid-sK7jYNwUTq .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sK7jYNwUTq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sK7jYNwUTq .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.8rem);
  }
}
.cid-sK7jYNwUTq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sK7jYNwUTq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sK7jYNwUTq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sK7jYNwUTq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-sK7jYNwUTq .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sK7jYNwUTq .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-sK7jYNwUTq .navbar .navbar-collapse {
    padding: 34px 0;
  }
  .cid-sK7jYNwUTq .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sK7jYNwUTq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sK7jYNwUTq .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-sK7jYNwUTq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sK7jYNwUTq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sK7jYNwUTq .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sK7jYNwUTq .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-sK7jYNwUTq .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-sK7jYNwUTq .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-sK7jYNwUTq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sK7jYNwUTq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sK7jYNwUTq .navbar .icons-menu {
    padding: 0;
  }
}
.cid-sK7jYNwUTq .navbar.navbar-short {
  min-height: 60px;
}
.cid-sK7jYNwUTq .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sK7jYNwUTq .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sK7jYNwUTq .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sK7jYNwUTq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sK7jYNwUTq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sK7jYNwUTq .dropdown-item.active,
.cid-sK7jYNwUTq .dropdown-item:active {
  background-color: transparent;
}
.cid-sK7jYNwUTq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sK7jYNwUTq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sK7jYNwUTq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sK7jYNwUTq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f9f9f9;
}
.cid-sK7jYNwUTq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sK7jYNwUTq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sK7jYNwUTq ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-sK7jYNwUTq .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sK7jYNwUTq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #f9f9f9;
}
.cid-sK7jYNwUTq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #373c42;
}
.cid-sK7jYNwUTq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sK7jYNwUTq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sK7jYNwUTq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sK7jYNwUTq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sK7jYNwUTq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sK7jYNwUTq nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sK7jYNwUTq nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sK7jYNwUTq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sK7jYNwUTq a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-sK7jYNwUTq .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sK7jYNwUTq .navbar {
    height: 70px;
  }
  .cid-sK7jYNwUTq .navbar.opened {
    height: auto;
  }
  .cid-sK7jYNwUTq .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sK7jYNwUTq .mbr-section-subtitle {
  color: #202020;
}
.cid-sK7tP8j1IM {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #f9f9f9;
}
.cid-sK7tP8j1IM .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sK7tP8j1IM .form-control,
.cid-sK7tP8j1IM .field-input,
.cid-sK7tP8j1IM textarea {
  background-color: #ebf2e9;
  border-color: #bbbbbb;
  color: #555555;
  transition: 0.4s;
  box-shadow: none;
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  border-bottom: 1px solid #bbbbbb !important;
}
.cid-sK7tP8j1IM .form-control::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea::-webkit-input-placeholder,
.cid-sK7tP8j1IM .form-control::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea::-webkit-input-placeholder {
  color: #555555;
}
.cid-sK7tP8j1IM .form-control:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:-moz-placeholder,
.cid-sK7tP8j1IM textarea:-moz-placeholder,
.cid-sK7tP8j1IM .form-control:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:-moz-placeholder,
.cid-sK7tP8j1IM textarea:-moz-placeholder {
  color: #555555;
}
.cid-sK7tP8j1IM .form-control:hover,
.cid-sK7tP8j1IM .field-input:hover,
.cid-sK7tP8j1IM textarea:hover,
.cid-sK7tP8j1IM .form-control:focus,
.cid-sK7tP8j1IM .field-input:focus,
.cid-sK7tP8j1IM textarea:focus {
  background-color: #ebf2e9;
  border-color: #555555;
  color: #202020;
  box-shadow: none;
  outline: none;
}
.cid-sK7tP8j1IM .form-control:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM .form-control:focus::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input:focus::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea:focus::-webkit-input-placeholder,
.cid-sK7tP8j1IM .form-control:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea:hover::-webkit-input-placeholder,
.cid-sK7tP8j1IM .form-control:focus::-webkit-input-placeholder,
.cid-sK7tP8j1IM .field-input:focus::-webkit-input-placeholder,
.cid-sK7tP8j1IM textarea:focus::-webkit-input-placeholder {
  color: #202020;
}
.cid-sK7tP8j1IM .form-control:hover:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:hover:-moz-placeholder,
.cid-sK7tP8j1IM textarea:hover:-moz-placeholder,
.cid-sK7tP8j1IM .form-control:focus:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:focus:-moz-placeholder,
.cid-sK7tP8j1IM textarea:focus:-moz-placeholder,
.cid-sK7tP8j1IM .form-control:hover:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:hover:-moz-placeholder,
.cid-sK7tP8j1IM textarea:hover:-moz-placeholder,
.cid-sK7tP8j1IM .form-control:focus:-moz-placeholder,
.cid-sK7tP8j1IM .field-input:focus:-moz-placeholder,
.cid-sK7tP8j1IM textarea:focus:-moz-placeholder {
  color: #202020;
}
.cid-sK7tP8j1IM .jq-number__spin:hover,
.cid-sK7tP8j1IM .jq-number__spin:focus {
  background-color: #ebf2e9;
  border-color: #555555;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-sK7tP8j1IM .jq-number__spin {
  background-color: #ebf2e9;
  border-color: #bbbbbb;
  color: #555555;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sK7tP8j1IM .jq-selectbox li,
.cid-sK7tP8j1IM .jq-selectbox li {
  background-color: #ebf2e9;
  color: #000000;
}
.cid-sK7tP8j1IM .jq-selectbox li:hover,
.cid-sK7tP8j1IM .jq-selectbox li.selected {
  background-color: #ebf2e9;
  color: #000000;
}
.cid-sK7tP8j1IM .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sK7tP8j1IM .jq-number__spin.minus:hover:after,
.cid-sK7tP8j1IM .jq-number__spin.plus:hover:after {
  border-top-color: #ebf2e9;
  border-bottom-color: #ebf2e9;
}
.cid-sK7tP8j1IM .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sK7tP8j1IM .jq-number__spin.minus:after,
.cid-sK7tP8j1IM .jq-number__spin.plus:after {
  border-top-color: #ebf2e9;
  border-bottom-color: #ebf2e9;
}
.cid-sK7tP8j1IM input::-webkit-clear-button {
  display: none;
}
.cid-sK7tP8j1IM input::-webkit-inner-spin-button {
  display: none;
}
.cid-sK7tP8j1IM input::-webkit-outer-spin-button {
  display: none;
}
.cid-sK7tP8j1IM input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sK7tP8j1IM .container {
  background-color: #ebf2e9;
  padding: 8rem 2.75rem;
  position: relative;
}
@media (max-width: 991px) {
  .cid-sK7tP8j1IM .container {
    padding: 3.5rem 2.75rem 4rem;
  }
}
@media (max-width: 767px) {
  .cid-sK7tP8j1IM .container {
    padding: 3.5rem .75rem 4rem;
  }
}
.cid-sK7tP8j1IM .btn-lg {
  border-radius: 0 !important;
  padding: 1.1875rem 3.25rem !important;
  margin-top: 17px;
  font-weight: 600;
  width: 100%;
}
.cid-sK7tP8j1IM .mbr-section-title {
  margin-bottom: 18px;
  color: #202020;
}
.cid-sK7tP8j1IM .form_title {
  margin: 25px 0;
  text-align: center;
}
.cid-sK7tP8j1IM .mbr-text {
  margin-bottom: 37px;
}
.cid-sK7tP8j1IM .shape {
  width: 135px;
  height: auto;
  position: absolute;
  left: 70px;
  bottom: -40px;
}
.cid-sK7tP8j1IM .shape img {
  width: 100%;
  object-fit: contain;
  height: auto;
}
.cid-sK7tP8j1IM .dragArea {
  justify-content: center;
}
.cid-sK7tP8j1IM .textGDPR.display-7 {
  font-size: 16px;
}
.cid-sK7tP8j1IM .gdpr-block label span.textGDPR input[name="gdpr"] {
  top: 0;
}
.cid-sK7tP8j1IM .form-control,
.cid-sK7tP8j1IM .field-input,
.cid-sK7tP8j1IM textarea {
  padding: 9px 10px;
  line-height: 25px;
  height: 48px;
}
.cid-sK7tP8j1IM .form-check {
  padding-left: 2.5em !important;
}
.cid-sK7tP8j1IM .form-check .display-7 {
  font-size: 16px !important;
}
.cid-sK7tWt9kdn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f9f9f9;
}
.cid-sK7tWt9kdn .content_box {
  position: relative;
  text-align: center;
  height: 325px;
}
.cid-sK7tWt9kdn .mbr-section-subtitle {
  font-size: 200px;
  color: #fdaca4;
  letter-spacing: -0.075em;
  font-weight: 500;
}
.cid-sK7tWt9kdn .mbr-text {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #202020;
}
@media (max-width: 767px) {
  .cid-sK7tWt9kdn .mbr-text {
    top: 0;
  }
  .cid-sK7tWt9kdn .content_box {
    height: 200px;
  }
}
.cid-sK7A558bJc {
  background-color: #f9f9f9;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 768px) {
  .cid-sK7A558bJc .carousel {
    height: 700px;
  }
}
@media (max-width: 767px) {
  .cid-sK7A558bJc .carousel {
    height: 60vh;
  }
}
.cid-sK7A558bJc .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sK7A558bJc .carousel-item,
.cid-sK7A558bJc .carousel-inner {
  height: 100%;
}
.cid-sK7A558bJc .content_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf2e9;
  padding: 0 15%;
  text-align: center;
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sK7A558bJc .content_wrap {
    padding: 100px 15%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cid-sK7A558bJc .content_wrap {
    padding: 60px 12px;
  }
}
.cid-sK7A558bJc .carousel-item,
.cid-sK7A558bJc .carousel-inner {
  height: 100%;
}
.cid-sK7A558bJc .mbr-section-title {
  margin-bottom: 25px;
  color: #333333;
}
.cid-sK7A558bJc .mbr-section-btn {
  margin-top: 42px;
}
.cid-sK7A558bJc .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sK7A558bJc .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sK7A558bJc .carousel-control:hover.carousel-control-prev .mobi-mbri {
  transform: translateX(3px);
}
.cid-sK7A558bJc .carousel-control:hover.carousel-control-next .mobi-mbri {
  transform: translateX(-3px);
}
.cid-sK7A558bJc .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sK7A558bJc .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sK7A558bJc .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sK7A558bJc .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sK7A558bJc .carousel-control {
  top: 50%;
  width: 92px;
  height: 92px;
  margin-top: -1.5rem;
  font-size: 21px;
  border-radius: 50%;
  color: #202020;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  transition: all 0.2s ease-out;
  opacity: 1;
}
.cid-sK7A558bJc .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: -1.9rem;
}
.cid-sK7A558bJc .carousel-control.carousel-control-next {
  right: 0;
  margin-right: -1.9rem;
}
.cid-sK7A558bJc .carousel-control .mobi-mbri {
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .cid-sK7A558bJc .carousel-control {
    display: none !important;
  }
}
.cid-sK7A558bJc .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem !important;
  align-items: center;
}
.cid-sK7A558bJc .carousel-indicators li {
  max-width: 10px;
  max-height: 10px;
  height: 6px;
  width: 6px;
  margin: 10px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.cid-sK7A558bJc .carousel-indicators li.active,
.cid-sK7A558bJc .carousel-indicators li:hover {
  transform: scale(1.6);
}
.cid-sK7A558bJc .carousel-indicators li::after,
.cid-sK7A558bJc .carousel-indicators li::before {
  content: none;
}
.cid-sK7A558bJc .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sK7A558bJc .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sK7A558bJc .height_100 {
    height: 100%;
  }
}
.cid-sK7sBuXXxH {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #f9f9f9;
}
.cid-sK7sBuXXxH .content_box {
  padding: 2rem 15%;
  background-color: #ebf2e9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .cid-sK7sBuXXxH .content_box {
    margin-top: 30px;
    padding: 65px 30px;
  }
  .cid-sK7sBuXXxH .content_box .shape {
    width: auto;
    padding: 0 1rem;
  }
}
.cid-sK7sBuXXxH .shape {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  padding: 0 100px;
}
.cid-sK7sBuXXxH .shape img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cid-sK7sBuXXxH .mbr-text {
  line-height: 1;
  color: #202020;
  position: relative;
  z-index: 2;
}
.cid-sK7sJwtH6h {
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: relative;
  background-color: #f9f9f9;
}
.cid-sK7sJwtH6h .content_box {
  padding: 115px 3rem;
  background-color: #ebf2e9;
  text-align: center;
  height: 100%;
}
@media (max-width: 991px) {
  .cid-sK7sJwtH6h .content_box {
    margin-top: 30px;
    padding: 65px 1rem;
  }
}
.cid-sK7sJwtH6h .mbr-section-title {
  color: #333333;
  margin-bottom: 29px;
}
.cid-sK7sJwtH6h img,
.cid-sK7sJwtH6h .image-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sK7sJwtH6h .list_widget {
  padding-bottom: 20px;
}
.cid-sK7sJwtH6h .mbr-section-subtitle {
  line-height: 1.2727em;
  color: #202020;
}
.cid-sK7sJwtH6h .linkBtn {
  margin-top: 23px;
}
.cid-sK7sJwtH6h .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK7sJwtH6h .linkBtn a:after,
.cid-sK7sJwtH6h .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sK7sJwtH6h .linkBtn a:before {
  left: 0;
}
.cid-sK7sJwtH6h .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sK7sJwtH6h .linkBtn a:hover:before,
.cid-sK7sJwtH6h .linkBtn a:hover:after {
  transform: translateX(100%);
}
.cid-sK7t54XuG9 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  position: relative;
  background-color: #f9f9f9;
}
.cid-sK7t54XuG9 .main_header {
  margin-top: -195px;
  width: 100%;
  background-color: #ebf2e9;
  padding: 107px 8%;
  position: relative;
  z-index: 5;
}
@media (max-width: 991px) {
  .cid-sK7t54XuG9 .main_header {
    padding-top: 66px;
  }
  .cid-sK7t54XuG9 .main_header > .row {
    flex-direction: column;
  }
  .cid-sK7t54XuG9 .main_header .mbr-section-title {
    margin-left: 0;
    margin-right: 0;
  }
}
.cid-sK7t54XuG9 .mbr-section-title {
  color: #333333;
  margin: 25px 2rem 25px;
}
@media (max-width: 767px) {
  .cid-sK7t54XuG9 .mbr-section-title {
    text-align: center;
  }
}
.cid-sK7t54XuG9 .mbr-text {
  margin: 25px 0;
}
.cid-sK7t54XuG9 .bgImage {
  position: relative;
  width: 100%;
  height: 650px;
  z-index: 1;
}
@media (max-width: 767px) {
  .cid-sK7t54XuG9 .bgImage {
    height: 65vh;
  }
}
.cid-sK7t54XuG9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sK7t54XuG9 .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK7t54XuG9 .linkBtn a:after,
.cid-sK7t54XuG9 .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sK7t54XuG9 .linkBtn a:before {
  left: 0;
}
.cid-sK7t54XuG9 .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sK7t54XuG9 .linkBtn a:hover:before,
.cid-sK7t54XuG9 .linkBtn a:hover:after {
  transform: translateX(100%);
}
.cid-sK7ttgcwi3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f9f9f9;
}
.cid-sK7ttgcwi3 .content_box {
  position: relative;
  z-index: 5;
}
.cid-sK7ttgcwi3 .carousel-item {
  justify-content: center;
}
.cid-sK7ttgcwi3 .carousel-item.active,
.cid-sK7ttgcwi3 .carousel-item-next,
.cid-sK7ttgcwi3 .carousel-item-prev {
  display: flex;
}
.cid-sK7ttgcwi3 .carousel-controls a {
  transition: opacity .5s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  font-size: 22px;
  height: 22px;
  width: 22px;
  padding: 10px;
  color: #e74c3c;
  opacity: 1;
}
.cid-sK7ttgcwi3 .carousel-control-next span {
  padding-left: 5px;
}
.cid-sK7ttgcwi3 .carousel-control-prev span {
  padding-right: 5px;
}
.cid-sK7ttgcwi3 .user_image {
  width: 100px;
  margin-bottom: 35px;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}
.cid-sK7ttgcwi3 .user_image img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-sK7ttgcwi3 .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-sK7ttgcwi3 .user_text {
  line-height: 1.272em;
  font-weight: 500;
  color: #333333;
}
.cid-sK7uIYLVAO {
  padding-top: 4rem;
  padding-bottom: 0rem;
  position: relative;
  background-color: #f9f9f9;
}
.cid-sK7uIYLVAO .card_title {
  color: #333333;
  line-height: 1.2727em;
  margin-bottom: 0;
}
.cid-sK7uIYLVAO .card_content {
  margin-top: 29px;
}
.cid-sK7uIYLVAO img,
.cid-sK7uIYLVAO .item-img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.cid-sK7uIYLVAO .item {
  margin-bottom: 85px;
}
.cid-sK7uIYLVAO .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: visible;
}
.cid-sK7uIYLVAO .mbr-text {
  color: #202020;
}
.cid-sK7uIYLVAO .icons_card {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  height: 26px;
}
.cid-sK7uIYLVAO .iconfont-wrapper {
  color: #202020;
  font-size: 1.1rem;
  margin-right: 10px;
  width: 1.1rem;
  height: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.cid-sK7uIYLVAO .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK7uIYLVAO .iconfont-wrapper:hover {
  opacity: .85;
}
.cid-sK7un9Iunp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-sK7un9Iunp .card-title {
  color: #333333;
}
.cid-sK7un9Iunp .map-wrapper {
  margin-bottom: 70px;
}
.cid-sK7un9Iunp .google-map {
  height: 540px;
  position: relative;
}
.cid-sK7un9Iunp .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sK7un9Iunp .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sK7un9Iunp .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sK7un9Iunp .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sK7un9Iunp .contact_content {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .cid-sK7un9Iunp .contact_content {
    margin: 7px 0 15px;
  }
}
@media (min-width: 992px) {
  .cid-sK7un9Iunp .card_box {
    padding: 0 2rem;
  }
}
.cid-sK7un9Iunp .iconfont-wrapper {
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  font-size: 19px;
  color: #202020;
}
.cid-sK7udwhsbI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-sK7udwhsbI .mbr-section-title {
  margin-bottom: 1rem;
  color: #333333;
}
.cid-sK7udwhsbI .footer_logo {
  margin-bottom: 2rem;
}
.cid-sK7udwhsbI .footer_logo img {
  width: auto;
  object-fit: cover;
  display: inline-block;
}
.cid-sK7udwhsbI .mbr-text {
  margin: 10px 0;
  text-align: center;
}
.cid-sK7udwhsbI .icons_footer {
  margin-top: 35px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
.cid-sK7udwhsbI .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 17px;
  margin-right: 25px;
  width: 56px;
  height: 56px;
  background-color: #333333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-sK7udwhsbI .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK7udwhsbI .iconfont-wrapper:hover {
  background-color: #262626;
}
@media (max-width: 767px) {
  .cid-sK7udwhsbI .footer_timework {
    margin-top: 50px;
  }
  .cid-sK7udwhsbI .footer_contact {
    margin-bottom: 50px;
  }
}
